
<h1>Home</h1>
<div id="map_canvas" style="width:50%; height:70%"></div>

<footer>
  <%= javascript_tag do %>
    var tweets = <%= raw @tweets.to_json %>;
  <% end %>
  <%= javascript_include_tag "create_map" %>
  <%= @list %> <br>
  <%= @members %> <br>

  <%= @tweets %>
  <br>
  JSON: <% @tweets.each do |t| %>
  <%= t.user.screen_name %>
  <%= t.geo.coordinates %><br>
  <% end %><br>

</footer>